{% extends 'Index.html' %}
{% load static %}
{% block title %}InternSpot{% endblock %} 
{% block head %}
<link rel="stylesheet" href="{% static 'admin/plugins/fontawesome-free/css/all.min.css' %}">
{% endblock %}

{% block content %}

    <div class="hero-wrap img" style="background-image: url({% static 'home1/images/bg_1.jpg' %});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row d-md-flex no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-10 d-flex align-items-center ftco-animate">
                    <div class="text text-center pt-5 mt-md-5">

                        <p class="mb-4">Spot For Your Internship Journey</p>
                        <h1 class="mb-5">The Easiest Way To Get Your Internship</h1>
                        
                        <!--Counters-->
                        <div class="ftco-counter ftco-no-pt ftco-no-pb">
                            <div class="row">

                                <div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
                                    <div class="block-18">
                                        <div class="text d-flex">
                                            <div class="icon mr-2">
                                                <span class="flaticon-worldwide"></span>
                                            </div>

                                            <div class="desc text-left">
                                                <strong class="number" data-number="{{company_count}}">0</strong>
                                                <span>Companies</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
                                    <div class="block-18 text-center">
                                        <div class="text d-flex">
                                            <div class="icon mr-2">
                                                <span class="flaticon-visitor"></span>
                                            </div>
                                    
                                            <div class="desc text-left">
                                                <strong class="number" data-number="{{student_count}}">0</strong>
                                                <span>Students</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
                                    <div class="block-18 text-center">
                                        <div class="text d-flex">
                                            <div class="icon mr-2">
                                                <span class="flaticon-resume"></span>
                                            </div>
                                
                                            <div class="desc text-left">
                                                <strong class="number" data-number="{{ internship_count }}">0</strong>
                                                <span>Internships</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--End Counters-->

                        <!--Search -->
                        <div class="ftco-search my-md-5">
                            <div class="row">
                                <div class="col-md-12 nav-link-wrap">
                                    <div class="nav nav-pills text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                        <a class="nav-link active mr-md-1" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Search Internships</a>
                                        </div>
                                </div>
                            <div class="col-md-12 tab-wrap">
                          
                            <div class="tab-content p-4" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-nextgen-tab">
                                    <form action="{% url 'SearchInternships' %}" method="POST" class="search-job">
                                        {% csrf_token %}
                                        <div class="row no-gutters">
                                            <div class="col-md mr-md-2">
                                                <div class="form-group">
                                                    <div class="form-field">
                                                        <div class="icon"><span class="icon-briefcase"></span></div>
                                                        <input type="text" class="form-control" placeholder="Internship Title" name="Title">
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-md mr-md-2">
                                                <div class="form-group">
                                                    <div class="form-field">
                                                        <div class="select-wrap">
                                                            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                                            <select name="Industry" class="form-control">
                                                                <option value="0">Industry</option>
                                                                {% for data in industries %}
                                                                  <option value="{{ data.id }}">{{ data.name }} </option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-md mr-md-2">
                                                <div class="form-group">
                                                    <div class="form-field">
                                                        <div class="icon"><span class="icon-map-marker"></span></div>
                                                        <input type="text" class="form-control" placeholder="Location" name="Location">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md">
                                                <div class="form-group">
                                                    <div class="form-field">
                                                        <button type="submit" class="form-control btn btn-primary">Search</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--End Search -->

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Industry-->
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <span class="subheading">Internship Industry</span>
                    <h2 class="mb-0">Top Industries</h2>
                </div>
            </div>
            
            <div class="row">
              {% for data1 in industries %}
                  <div class="col-md-3 ftco-animate">
                      <ul class="category text-center">
                          <li><a href="{% url 'IndustrySearchInternships' data1.id %}">{{ data1.name }} <br><i class="ion-ios-arrow-forward"></i></a></li>
                      </ul>
                  </div>
              {% endfor %}
            </div>
        </div>
    </section>
    <!--End Industry-->

    <!--Internships-->
    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row">

                <div class="col-lg-9 pr-lg-5">

                    <div class="row justify-content-center pb-3">
                        <div class="col-md-12 heading-section ftco-animate">
                            <span class="subheading">Recently Added Internships</span>
                            <h2 class="mb-4">Internship Posts</h2>
                        </div>
                    </div>
                


                    <div class="row">
                        {% for internship in internships %}
                            <div class="col-md-12 ftco-animate">
                                <div class="job-post-item p-4 d-block d-lg-flex align-items-center">
                                
                                <div class="one-third mb-4 mb-md-0">
                
                                    <div class="job-post-item-header align-items-center">
                                        <span class="subadge">{{ internship.type }}</span>
                                        <h2 class="mr-3 text-black"><a href="#">{{ internship.title }}</a></h2>
                                    </div>
                                    
                                    <div class="job-post-item-body d-block d-md-flex">
                                        <div class="mr-3">
                                            <span class="icon-layers"></span> 
                                            <a href="#">{{ internship.UserModel.CompanyDetails.company_name }}</a>
                                        </div>
                
                                        <div>
                                            <span class="icon-my_location"></span> <span>{{ internship.location }}</span>
                                        </div>
                                    </div>
                
                                </div>
                
                                <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
                                    <div>
                                        <a href="{% url 'Bookmark' internship.id %}" class="icon text-center d-flex justify-content-center align-items-center icon mr-2">
                                            <span class="icon-heart"></span>
                                        </a>
                                    </div>
                                    <a href="{% url 'ApplyInternship' internship.id %}" class="btn btn-primary py-2">Apply</a>
                                </div>
                
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-lg-3 sidebar">
                    <div class="row justify-content-center pb-3">
                        <div class="col-md-12 heading-section ftco-animate">
                            <h2 class="mb-4">Companies</h2>
                        </div>
                    </div>

                    <div class="sidebar-box ftco-animate">

                        {% for company in companies %}
                            <div class="">
                                <a href="{% url 'CompanySearchInternships' company.id %}" class="company-wrap">
                                    {% if company.CompanyDetails.companyLogo.url != null %}
                                        <img src="{{ company.CompanyDetails.companyLogo.url }}" class="img-fluid" alt="Colorlib Free Template" height="150px" width="150px">    
                                    {% else %}
                                        <img src="{% static 'home1/images/company-1.jpg' %}" class="img-fluid" alt="Colorlib Free Template">
                                    {% endif %}
                                </a>
                                <div class="text p-3">
                                    <h3><a href="{% url 'CompanySearchInternships' company.id %}">{{ company.CompanyDetails.company_name }}</a></h3>
                                    <p><span class="number">{{ company.i_count }}</span> <span>Open Internships</span></p>
                                </div>
                            </div>
                            <hr>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
        </div>
    </section>
    <!--End Internships-->

    <!--Newsletter-->
    <section class="ftco-section-parallax">
        <div class="parallax-img d-flex align-items-center">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                        <h2>Subcribe To Our Newsletter</h2>
                        <p>Discover exciting internships, connect with companies, and kickstart your career with our user-friendly internship portal.</p>
                        <div class="row d-flex justify-content-center mt-4 mb-4">
                            <div class="col-md-12">
                                <form action="#" class="subscribe-form">
                                    <div class="form-group d-flex">
                                        <input type="text" class="form-control" placeholder="Enter Email Address">
                                        <input type="submit" value="Subscribe" class="submit px-3">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Newsletter-->

{% endblock %}