{% extends 'Company/Layout.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}View Candidates{% endblock %}
{% block head %}  
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock %}

{% block open-internship %}nav-item menu-open {% endblock %}
{% block open-fourth %}nav-link active {% endblock %}

{% block subtitle %}
<h1><b>View Candidates</b></h1>
{% endblock %}

{% block content %}
<table class="table table-bordered" id="example1">
    <thead>
        <tr>
            <th style="width: auto"><center> Username </center></th>
            <th style="width: auto"><center> First Name </center></th>
            <th style="width: auto"><center> Last Name </center></th>
            <th style="width: auto"><center> Phone </center></th>
            <th style="width: auto"><center> Email </center></th>
            <th style="width: 15%"><center> Student Photo </center></th>
            <th style="width: 15%"><center> Action </center></th>
        </tr>
    </thead>
    <tbody>
        {% for data in candidates %}
            <tr>
                <td><center> {{ data.student.username }} </center></td>
                <td><center> {{ data.student.StudentDetails.first_name }} </center></td> 
                <td><center> {{ data.student.StudentDetails.last_name }} </center></td>
                <td><center> {{ data.student.phone }} </center></td>
                <td><center> {{ data.student.email }} </center></td>
                {% if data.student.StudentDetails.studentPhoto is not None and data.student.StudentDetails.studentPhoto != "" %}
                    <td><center> <img src="/{{ data.student.StudentDetails.studentPhoto }}" width="80px" width="80px" style="border-radius:15px"> </center></td>
                {% else %}
                    <td><center>  </center></td>
                {% endif %}
                <td>
                <center>
                    <a href="{% url 'SelectCandidate' data.id %}" class="btn btn-success btn-sm " style="font-size:18px"> Select </i></a>
                    <a href="{% url 'FeedbackStudent' data.id %}" class="btn btn-primary btn-sm" style="font-size:18px"> Feedback </a>
                
                    {% if data.student.StudentDetails.studentResume is not None %}
                        <div style="margin-top:10px">
                            <a href="{% url 'StudentViewResume' filepath=data.student.StudentDetails.studentResume %}" class="btn btn-info btn-sm " style="font-size:18px"> View Resume </i></a>
                        </div>
                    {% endif %}
                
                </center>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock  %}