{% extends 'Company/Layout.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Feedback Student {% endblock %}
{% block head %}  
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock %}

{% block open-internship %}nav-item menu-open {% endblock %}
{% block open-fifth %}nav-link active {% endblock %}

{% block subtitle %}
<h1><b>Feedback Student</b></h1>
{% endblock %}

{% block content %}
    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" laceholder="Description" name="description"></textarea>
        </div>

        <input type="submit" value="Send" class="btn btn-primary">                    
    </form>
{% endblock  %}